engine-strict=true
strict-peer-dependencies=true
auto-install-peers=false
link-workspace-packages=false
prefer-workspace-packages=false
save-exact=true
package-manager-strict=true
verify-store-integrity=true
hoist=false

